  
.navbarDiv {
    overflow: hidden;
    background-color: #0E0B16;
    top: 0;
    width: 100%;
    z-index: 1050;
    position: fixed;

    .styleElement {
        background-color: #0E0B16;
    }
    
    .navbar-toggler-icon {
        color: #e7dfdd;
    }
    
    a.nav-link {
        color: #e7dfdd;
    }
    
    .dropdown-content {
        margin-top: 15px;
    }
}