.snapchatModal {
    
    .modal-body {
        text-align: center;
        padding-bottom: 0;
    }
    
    .qrCode {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    .closeDonate {
        color: black;
        position: absolute;
        right: 10px;
        top: 5px;
        background-color: white;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }
    
}