.jumboContainer{
    margin-top: 65px;
    margin-bottom: 110px;
}

.img-fluid {
    border-radius: 50%;
    max-height: 340px;

}

.mt-3, .my-3 {
    margin-top: 0rem !important;
}

.bottomPart{
    border-top: solid 1px lightgray;
    padding-top: 10px;
}