.homeContainer {
    background-color: black;
    
    .topRow{
        background-color: blue;
        padding: 70px;
    }
    .middleRow{
        background-color: orange;
        padding: 70px;
    }
    .bottomRow{
        background-color: pink;
        padding: 70px;
    }
}